<my-sidebar [isExpanded]="isExpanded" (toggleSidebar)="handleSidebarToggle()" />
<div class="content mt-5" [ngClass]="{ 'sidebarExpanded': isExpanded }" style="min-height: 60vh;">
       <div *ngIf="showError" class="alert alert-danger mt-3">
        <i class="bi bi-exclamation-triangle-fill me-2"></i> {{ alertMessage }}
    </div>
    <h2>Categorias</h2>
    <div class="mb-5">
        <button class="btn btnForm mt-5" (click)="openCreateDialog()">Agregar Categoria</button>
    </div>
    <div class="row bg-white pannel mt-5 pt-5">
        <ng-container *ngIf="categoriesFound?.contenido?.length; else noCategories">
            <div *ngFor="let category of categoriesFound?.contenido" class="col-3 heightCol mb-4">
                <mat-card appearance="outlined" class="h-100 justify-content-center clickable-card"
                  [ngClass]="{ 'categoria-sin-padre': category.nombreCategoriaPadre === 'None' }">
                    <p class="m-0 text-center text-white fw-semibold">{{ formatCategoriaName(category.nombreCategoria)   }}</p>
                    <div class="d-flex">
                    <p class="m-0 text-center text-white fw-semibold w-50 mt-2">Productos totales: {{ category.listaProductos.length }}</p>
                        <div class="d-flex flex-column justify-content-between w-50 mt-3">
                            <div class="d-flex w-100 justify-content-end mb-2">
                                <div ngbDropdown class="d-inline-block text-end me-3">
                                    <button type="button" class="btn btn-outline-light" id="dropdownBasic1"
                                        ngbDropdownToggle>
                                        Ver opciones
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem
                                            (click)="openEditDialog(category)">
                                            Editar</button>
                                        <button ngbDropdownItem
                                            (click)="openDeleteDialog({ idCategoria: category.id }); $event.stopPropagation()">
                                            Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </ng-container>
        <ng-template #noCategories>
            <div class="d-flex justify-content-center align-items-center w-100" style="min-height: 300px;">
                <span class="text-center text-muted" style="font-size: 1.3rem;">
                    No hay categorias para mostrar.
                </span>
            </div>
        </ng-template>
    </div>
    <ngb-pagination class="justify-content-center" [collectionSize]="categoriesFound?.elementosEncontrados || 0"
        [page]="page" [pageSize]="categoriesFound?.tamanioPagina || 6" [boundaryLinks]="true"
        (pageChange)="getCategories()" />
</div>