.footer-section {
  background: #222;
  color: #fff;
  h5 {
    font-weight: bold;
  }
  .bi {
    font-size: 1.3rem;
  }
}
.bg-green-gradient {
  background: linear-gradient(135deg, #59cea0 0%, #2e8b57 100%);
}

.border-green {
  border-color: #59cea0 !important;
}