<div class="w-100 h-100 login-background" [attr.data-bg]="randomBgNumber">
    <div class="d-flex flex-grow-1 justify-content-between align-content-center h-100">
        <div class="form w-100 rounded-end-5 bg-white p-4 h-100">
            <h2 class="text-center mb-5 mt-5">Iniciar Sesión</h2>
            <div class="w-100 h-100">
                <form (ngSubmit)="loginUser()" method="post" class="h-auto">
                    <div
                        class="h-50 text-center w-auto d-flex flex-column justify-content-center align-items-center mt-5">
                        <div class="w-75 mb-5">
                            <p class="text-start">Username</p>
                            <input type="text" placeholder="Ingresa tu username" [(ngModel)]="username"
                                class="w-100 p-4 inputRadius bg-secondary-subtle form-check-input mb-5" id="username"
                                name="username">
                        </div>
                        <div class="w-75 mb-5">
                            <p class="text-start">Contraseña</p>
                            <input type="text" placeholder="Ingresa tu contraseña" [(ngModel)]="password"
                                class="w-100 p-4 inputRadius bg-secondary-subtle form-check-input mb-5" id="password"
                                name="password">
                        </div>
                        <button class="btn btnForm mt-5" type="submit">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="w-100 h-auto">
        </div>
    </div>
</div>